<header class="bg-white sticky top-0 z-10">
    <div class="py-2 px-10">
        <div class="flex justify-end">
            <div class="text-xs text-gray-500">
                <a href="">고객센터</a>
                <a class="ml-3" href="">관심상품</a>
                <a class="ml-3" href="">마이페이지</a>
                {% if user.is_authenticated %}
                <a class="ml-3" href="{% url 'users:logout' %}">로그아웃</a>
                {% else %}
                <a class="ml-3" href="{% url 'users:login' %}">로그인</a>
                {% endif %}
            </div>
        </div>
    </div>
    <hr class="bg-gray-400">
    <div class="flex justify-between items-center px-10 h-16">
        <a href="">
            <img class="w-30 h-4" src="/static/img/kream_logo.png" alt="KREAM"/>
        </a>
        <ul class="m-0">
            <li class="float-left ml-8">
                <a href="{% url 'style:list' %}">STYLE</a>
            </li>
            <li class="float-left ml-8">
                <a href="{% url 'products:list' %}">SHOP</a>
            </li>
            <li class="float-left ml-8">
                <a href="">ABOUT</a>
            </li>
            <li class="float-left ml-8">
                <a href="{% url 'products:search' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M10.25 2a8.25 8.25 0 105.28 14.59l5.69 5.69a.75.75 0 101.06-1.06l-5.69-5.69A8.25 8.25 0 0010.25 2zM3.5 10.25a6.75 6.75 0 1113.5 0 6.75 6.75 0 01-13.5 0z"></path>
                </svg>
                </a>
            </li>
        </ul>
    </div>
</header>