<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% comment %} {% for product in products %}
    <p>{{product.brand}}</p>
    <p>{{product.name_en}}</p>
    {% for product_image in product.photo_set.all %}
    <img
      src="{{product_image.image.url}}"
      alt="상품사진"
      style="width: 200px"
    />
    {% endfor %}
    {% endfor %} {% endcomment %}
    <ul>
      {% for product in products %}
      <li>
        <p>{{product.name_en}}</p>
      </li>
      {% endfor %}
    </ul>

    <h5>
      {% if page_obj.has_previous %}
      <a href="?page={{page_obj.number|add:"-1"}}">이전</a>
      {% endif %}
      
      {{page_obj.number}} / {{page_obj.paginator.num_pages}}

      {% if page_obj.has_next %}
      <a href="?page={{page_obj.number|add:"1"}}">다음</a>
      {% endif %}
    </h5>
    {% comment %} <h5>
      {% if page != 1 %}
        <a href="?page={{page|add:"-1"}}">Previous</a>
      {% endif %}
      {{page}}/{{products.paginator.num_pages}}
      {% if page != products.paginator.num_pages %}
        <a href="?page={{page|add:"1"}}">Next</a>
      {% endif %}
    </h5> {% endcomment %}
    
  </body>
</html>
