{% extends 'base.html' %}

{% block title %}SEARCH{% endblock title %}

{% block contents %}

<p>검색페이지</p>

<form method="get" action="">
    {{form}}
    {% comment %} <input name = "keyword" type="text" placeholder = "브랜드명, 모델명, 모델번호 등" 
        {% if keyword %}value={{keyword}}{% endif %} />
    <div>
        <input type="checkbox" name = "price" id="price_-100000" value="-100000"
        {% if "-100000" in price %}checked{% endif %}>
        <label for="price_-100000">10만원이하</label>
    </div>
    <div>
        <input type="checkbox" name = "price" id="price_100000-300000" value="100000-300000"
        {% if "100000-300000" in price %}checked{% endif %}>
        <label for="price_100000-300000">10만원-30만원 이하</label>
    </div>
    <div>
        <input type="checkbox" name = "price" id="price_300000-500000" value="300000-500000"
        {% if "300000-500000" in price %}checked{% endif %}>
        <label for="price_300000-500000">30만원-50만원 이하</label>
    </div>
    <div>
        <input type="checkbox" name = "price" id="price_500000-" value="500000-"
        {% if "500000-" in price %}checked{% endif %}>
        <label for="price_500000-">50만원 이상</label>
    </div> {% endcomment %}
    <button>검색</button>
</form>
<ul>
    {% for product in result %}
    <li>{{product}} : {{product.released_price}}</li>
    {% endfor %}
</ul>

{% endblock contents %}