{% load static %}
{% load humanize %}
<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?after"/>
    <link rel="stylesheet" href="{% static 'css/product_item.css' %}?after"/>
    <link rel="stylesheet" href="{% static 'css/product_detail.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/product_list.css' %}?after"/>
    <link rel="stylesheet" href="{% static 'css/dropdown.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/users.css' %}"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    {% include 'partials/header.html' %}
    {% block contents %}{% endblock contents %}
    {% include 'partials/footer.html' %}
</body>
</html>